body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.stopwatch {
    text-align: center;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 5px 6px 5px black;
}

#timeDisplay {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 9px;
    background-color: black;
    color: white;
}

button:active {
    background-color: #ddd;
}